
.canvas {
  flex-grow: 1;
  height: 100%;
  position: relative;
}

.graph {
  pointer-events: auto;
  width: 100%;
  height: 100%;
}

.graph-container {
  height: 90%;
  width: 100%;
  flex-grow: 1;
  display: flex;
}

.label {
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #ccc;
}

.toggle-container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  /* To align toggle to the right */
  gap: 10px;
  height: 30px;
  margin-top: 30px;
  margin-right: 30px;
}

.toggle-button {
  display: flex;
  border: 0.5px solid #777;
  border-radius: 5px;
  overflow: hidden;
}

.toggle-option {
  background: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: "background-color 1s ease";
  color: #bbb;
  font-size: medium;
}

.toggle-option.active {
  background-color: green;
  color: white;
  /* Add this if you want the active button text to be white */
}

.toggle-option:not(.active):hover {
  background-color: #555;
}