.sidebar {
  width: 17%;
  padding: 20px;
  height: 100%;
  border-radius: 0 1.5% 1.5% 0;
  border-width: 2px;  
  flex-direction: column;
  background-color: rgb(43, 45, 45);
  border-right: 0.5px solid #555;
  overflow: scroll;
  z-index: 1;
}

.sidebar h2 {
  color: rgb(128, 221, 165);
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: 60%;
  flex-grow: 1;
  text-align: left;
  overflow: scroll;
}

.sidebar-bottom {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  border-top: 1px solid #777;
  transition: "background-color 0.5s ease";
  padding-top: 20px;
  padding-bottom: 20px;  /*change this later*/
  flex-grow: 1;

}

.goal, .generate, .selected-courses, .total-credits {
  margin: 15px;
}

.goal {
  display: flex;
  flex-direction: column;
  padding: 8px;
  align-items: left;
  margin-bottom: 50px;
}

.goal label {
  margin-bottom: 10px;
  text-align: left;
  color: #ccc;
}


.generate button {
  background: gray;
  color: #fff;
  border: none;
  font-size: medium;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: not-allowed;
  width: 100%;
  margin: 3px;
}

.generate button.enabled {
  background: green;
  cursor: pointer;
}

.generate button.enabled:hover {
  background: darkgreen;
}

.container {
  padding: 8px;
  border-radius: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  /* height: 100%; */
  background-color: rgb(35, 36, 36);
}
